{% extends 'CAPersoBundle::base.html.twig' %}

{% block content %}

    <h1>Edit perso</h1>

    {{ form_start(form) }}
    {{ form_widget(form.age, {'value' : oldPerso.age}) }}
    {{ form_end(form) }}
{% endblock %}