<!DOCTYPE html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

<div ng-app="myApp" ng-controller="myController">

	<h1> {{monTitre}} </h1>

	<input type="text" ng-model="yourName">
	<div>
		mon text : {{ yourName }} <br>
		ma data : {{ users }}
		<ul>
			<li ng-repeat="user in users">
				{{ user.username }}
			</li>
		</ul>
	</div>
  
</div>

<script>

	var root = 'http://localhost:8888/carnetAdress/web/app_dev.php/persoss';
	
	var app = angular.module('myApp', []);
	app.controller('myController', function($scope, $http) {

		/*$http({
			method : "GET",
			url : root
		}).then(function mySuccess(response) {
			$scope.users = response.data;
			console.log("Ca marche");
		}, function myError(response) {
			$scope.users = response.statusText;
			console.log("Ca marche pas");
		});*/
		
		$http.get("http://localhost:8888/carnetAdress/web/app_dev.php/persos")
		.then(function(response) {
			$scope.users = response.data;
			console.log("Ca marche");
		});
		
		$scope.monTitre = "coucou fabrice";

	});


</script>

</body>
</html>