<!DOCTYPE html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

<div ng-app="myApp" ng-controller="myController">

	<h1> {{monTitre}} </h1>

	<input type="text" ng-model="yourName">
    <div>
        <p>faite votre recherche par username, exemple "antoinette", il y aura une liste déroulante</p>
        <ul>
            <li ng-repeat="user in users | filter:{username:yourName} | orderBy:'username'">
                <button> <a href="http://localhost:8888/carnetAdress/web/app_dev.php/{{ user.id }}"> {{ user.username }}</a></button>
            </li>
        </ul>
    </div>
</div>

<script>

	var root = 'http://localhost:8888/carnetAdress/web/app_dev.php/persoss';

	var app = angular.module('myApp', []);
	app.controller('myController', function($scope, $http) {		
		$http.get("http://localhost:8888/carnetAdress/web/app_dev.php/persos")
		.then(function(response) {
			$scope.users = response.data;
			console.log("Ca marche");
		});
		$scope.monTitre = "coucou";

	});
</script>

</body>
</html>



